
    /* start the code */
body {
    background-color:#aad4cf;
    margin: 0px 100px auto 100px;
}

/* the position of the heading text */
.heading {
    /* Establish the text position */
    position: relative;
    text-align: center;
    color: white;
    /* centerize the background image and background size */
    background-image: url("../images/lone-starfish-wide.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100%;
    margin: 0%;
    padding: 13%;
}

.wrapper {
    background-color: azure;
    padding: 15px;
    padding-top: 0%;
}
/* establish navbar and remove padding, margin and style. Align center */
nav ul {
    background-color: azure;
    overflow: auto;
    margin: 0%;
    padding: 0%;
    list-style: none;
}
/* inlne navigation bar */
nav ul li {
    width: 100%;

}
/* adjust nav text,add padding and center navigation */
nav li a {
    float: left;
    padding: 12px;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: larger;
    text-align: center;
    width: 29.58%;
    
}
/* set the margin on Life of Starfish */
div h2{
    margin: 0% auto 5px 10px;
}

/* resize the image in text, floating and, adding padding */
.picture img {
width: 200px;
height: auto;
float: left;
padding: 0px 15px 0px 0px;
}

/* clearfix the text with picture, adding padding on edge */
.clearfix{
    clear: none;
    text-align: left;
    margin: 0%;
}

/* change Facts padding */
.facts {
    padding: 0px 2% 0px 2%;
}

/* input type wider */
input[type=text]{
    width: 100%;
}
input[type=email]{
    width: 100%;
}
textarea[id=message]{
    width: 100%;
}
/* make border on contact block */
.block {
    border-style: solid;
    padding: 12px 20px;  
}
/* adding space on options */
.form input[type=text] {
    width: 100%;
}

.block button {
    background-color: azure;
    text-transform: uppercase;
}
/* change footer position */
footer {
    text-align: right;
}

